* {
  background-color: #1c1c1c;
  color: white;
}

.input {
  background-color: black;
  color: white;
  border: 1px solid #6e5494;
  border-radius: 1.5em;
  padding: 0.5em 2em;
  outline: none;
}

.input:hover {
  border: 1px solid white;
}

.border {
  border-radius: 1.5em !important;
}

.input::placeholder {
  color: white
}

.content {
  visibility: hidden;
}

.content-show {
  visibility: visible;
}